{% load static %}
<header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Блогикум
        </a>        
        <ul class="nav  nav-pills">
            {% with request.resolver_match.view_name as view_name %}
            {% for m in mainmenu %}
            <li class="nav-item">
              <a
                class="nav-link {% if view_name == m.url_name %}active{% endif %}"
                href="{% url m.url_name %}"
              >
                {{ m.title }}
              </a>
            </li>
            {% endfor %}
            {% endwith %}
          </ul>          
      </div>
    </nav> 
  </header>